<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>authController</servlet-name>
        <servlet-class>controller.authController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <!-- Admin -->
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCustomer</servlet-name>
        <servlet-class>controller.adminCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>controller.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProduct</servlet-name>
        <servlet-class>controller.adminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerController</servlet-name>
        <servlet-class>controller.customerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>controller.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.productController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/Admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerController</servlet-name>
        <url-pattern>/Admin/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/Admin/orders-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProduct</servlet-name>
        <url-pattern>/Admin/adminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/Admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCustomer</servlet-name>
        <url-pattern>/Admin/adminCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/Admin/index</url-pattern>
    </servlet-mapping>
    <!--VNPay -->
<!--    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.payment.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    
-->    <servlet> 
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>controller.payment.VnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>VnpayReturn</servlet-name>
    <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
    <!-- Admin -->
    <!--<welcome-file-list>-->
    <welcome-file-list>
        <welcome-file>homePage</welcome-file>
    </welcome-file-list>
</web-app>
